@font-face {
    font-family: "fredoka";
    src: url("Fredoka-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 300;
}


@font-face {
    font-family: "cascadiamono";
    src: url("CascadiaMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 300;
}